<br />
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This actor is involved in movie
</div>

@Html.ActionLink("Back", "Index", "Actors")